/Build/**
!/Build/*/
/Build/*/**
!/Build/*/PakBlacklist*.txt
!/Build/**/*.ico
/Saved/**
/Intermediate/**
/DerivedDataCache/**
/Content/Temp/**
/Binaries/*/*.exe
/Binaries/*/*.exp
/Binaries/*/*.lib
/Binaries/*/*.target
/Binaries/*/UE4Editor-CartelTycoon-*.dll
/Binaries/*/UE4Editor-CartelTycoonEditor-*.dll
/Binaries/*/UE4Editor-*.modules
/Plugins/*/Intermediate/*
/.vs/**
/.idea/**
*.db
*.opendb
*.sdf
*.opensdf
*.sln
*.suo
*.pdb